<!DOCTYPE html>
<html>
    <head>
        <block name='title'></block>
        <block name='seo'></block>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <block name='css'></block>
        <link href="__PUBLIC__/Css/home/common.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery1.10.2.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/js/home/logined.js" ></script>
        <block name='js'></block>
        <block name='style'></block>
    </head>
    <body>
    <block name='body'>
        
    </block>
    </body>
</html>
