<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 <block name='head'>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>健康卫视</title>
	<load href="__PUBLIC__/ueditor/ueditor.config.js" />
    <load href="__PUBLIC__/ueditor/ueditor.all.js" />
    <load href="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js" />
 </block>
 <block name='body'>
<div style="width:500px;">
<script id="container" name="content" type="text/plain">
    这里写你的初始化内容1111
</script>
</div>
<script type="text/javascript">
document.domain="test.com";
    var editor = UE.getEditor('container')
</script>
 </block>

